flask
langchain
langchain-community
langchain-unstructured
unstructured
unstructured[docx]
requests
openai
faiss-cpu
pandas
PyPDF2
xlrd
werkzeug
pyngrok
docx2txt
tiktoken
gunicorn==20.1.0
